/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Reggae One", cursive;
  text-align: center;
  background-color: darkslategrey;
  color: darkslategrey;
}

.container {
  margin: 70px auto;
  padding: 10px;
  width: 400px;
  border: 5px solid ghostwhite;
  border-radius: 20px;
  background-color: aqua;
}

.container .game-header {
  border: 0px dotted blue;
  margin: 0;
}

.container .game-header .game-title {
  border: 0px dotted brown;
  margin: 10px 0;
}

.container .game-header .game-describtion {
  border: 0px dotted brown;
  margin: 10px 0;
}

.container #buttons {
  border: 0px dotted blue;
  margin: 10px 0;
  padding: 10px 0;
}

.container #buttons button {
  width: 100px;
  height: 40px;
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  border-radius: 10px;
  color: aqua;
  transition: all 1s;
}

.container #buttons button:hover {
  color: ghostwhite;
  background-color: black;
}

.container #buttons #play-again {
  width: 200px;
}

.container #messages {
  border: 0px dotted blue;
  margin: 10px 0;
  padding: 10px 0;
}

.container .game-stats {
  border: 0px dotted blue;
  margin: 10px 0;
  padding: 10px 0;
}

.container .game-stats .player, .container .game-stats .draw, .container .game-stats .computer, .container .game-stats #resultPlayer, .container .game-stats #resultComputer {
  border: 2px solid black;
  border-radius: 4px;
  background-color: ghostwhite;
  display: inline-block;
  color: black;
}

.container .game-stats .player, .container .game-stats .computer {
  width: 100px;
}

.container .game-stats .draw {
  width: 30px;
}

.container .game-stats #resultPlayer, .container .game-stats #resultComputer {
  width: 25px;
  height: 26px;
}
